@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  overflow-x: hidden;
}

@layer utilities {
  @variants colors {
    .theme {
      background-color: #163F65;
    }
    .theme-text {
      color: #163F65;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #93c5fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}